html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 20px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.grid-item {
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  padding: 16px;
  text-align: center;
  transition: transform 0.3s ease;
}

.grid-item:hover {
  transform: translateY(-5px);
}

.grid-item img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
}

.grid-item h3 {
  font-size: 1.1rem;
  margin: 8px 0 4px;
}

.descripcion {
  font-size: 0.9rem;
  color: #666;
  margin: 4px 0;
}

.precio {
  font-size: 1rem;
  color: #222;
  font-weight: bold;
  margin-top: 8px;
  border: none;
}

.precio:hover {
  font-size: 1.01rem;
  transition: transform 0.5s ease;

}

.overlay-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding-top: 80px;
}

.cerrar-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #222;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1001;
}

#carta {
  position: relative;
  z-index: 1;
}

.footer {
  background-color: #212529;
  color: #fff;
  padding: 20px 10px;
  text-align: center;
  font-size: 14px;
}

.footer p {
  margin: 5px 0;
}

@media (max-width: 576px) {
  .footer {
    font-size: 12px;
    padding: 15px 5px;
  }
}